*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightsteelblue;
}
header{
    width: 30%;
    gap: 40px;
    margin-top: 20px;
    margin-left: 20px;
}
main{
    color: darkblue;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
#txt404{
    width: 25rem;
    height: 37rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 32px;
    box-shadow: 5px 5px 5px 5px 5px gray;
    padding: 2rem;
}
button{
    width: 220px;
    height: 40px;
    border-radius: 16px;
    margin: 5px;
    cursor: pointer;
}
#cripto{
    color: white;
    background-color: darkblue;
}
#descripto{
        color: darkblue;
    background-color: white;
}
#decodificador{
    border-radius: 5px;
}
#msg{
    width: 25rem;
    height: 37rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 32px;
    box-shadow: 5px 5px 5px 5px 5px gray;
    padding: 2rem;
}
#copiar{
    color: darkblue;
    background-color: white;
}
.esconde{
    display: none;
}